@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Index */
.cicla{
  margin-bottom:-80px
}
/* Fin-index */

/* barra de Busqueda */
#Buscador {
  background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
  background-size: 34px;
  background-position-x: -5px;
  background-position-y: 10px;
  width: 500px;
  border: transparent;
  border-bottom: solid 1px rgb(13, 0, 113);
  padding: 10px 10px 10px 30px;
  outline: none;
}
/* Fin Barra busqueda */

/* tabla-pages */
.tabla{
  width: 100%;
  margin: 10px;
  overflow-y: scroll;
}

.tabla td,
.tabla th{
  padding: 8px;
  border: 1px solid #ddd;
}

.tabla th{
  background-color:rgb(15, 15, 49);
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left; 
}

table tr:nth-child(even) {
  background-color:rgba(106, 126, 240, 0.411);
}

.tabla tr:hover{
  background-color: rgba(92, 116, 253, 0.904);
  cursor: pointer;
}
/* Fin-tabla-pages */

/* Component Input */
.input {
  @apply p-2 border border-indigo-200 focus:outline-none focus:border-indigo-800 rounded-md shadow-sm;
}
/* Fin-Component Input */

.BtnRegresar{
  margin-left: 340px;
}

 /* Iniciar session */
 .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
/* FIN-Iniciar session */

/* pagina-registrace */
.registro-input{
  background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid #ffff;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
    width: 340px;
    color: white;
}

.registro-input option{
  color: black;
}

.registro-input::placeholder { color: #ffff; }
/* Fin-pagina-registrace */

/* Responsi */
@media (min-width: 1536px) {
  .contener-cicla{
    margin-bottom: -180px
  }
}   

.post-img-cicla{
  margin-top: -7px;
}
/* estilo de la pagina bienvenidos */

/* FIN estilo de la pagina bienvenidos */



/* estilo de la pagina NOSOTROS */
.nosotros{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
h2.abaut-title{
  text-align:center;
  font-size: 2.5rem;
}
h4.abaut-subtitle{
  text-align:center;
  font-size: 1.5rem;
  max-width: 75ch;
}
span.abut-contener{
  text-align: center;
}
.abut-contener{
  text-align: justify;
  font-family: 'Muli', sans-serif;
  margin: 30px 170px;
  max-width: 75ch;
}
.contener-all-team{
  display: flex;
  justify-content: space-around;
}
.conter-name{
  font-size: 1.5rem;
}
.abaut-team{
  display: inline-block;
  margin: 20px 76px;
}
div.footer1{
  display: flex;
  padding: 0px;
}
/* FIN pagina NOSOTROS */